
.search {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: @smSpacing;
    flex-flow: row no-wrap;
    max-width: 800px;

    input {
        flex-grow: 1;
        flex-shrink: 1;
        width: 0px;
    }
    button {
        width: @lgSpacing;
        flex-shrink: 0;
    }
    input, button {
        height: @lgSpacing;
        padding: @smSpacing;
    }
}

.totals {
    display: flex;
    width: 100%;
    background-color: @dk-grey;
    padding: @mdSpacing;
    padding-top: 0px;
    min-height: 150px;
    justify-content: space-around;
    align-items: flex-start;
    .white;

    .number {
        .xlSerif;

        @media @mdScreen {
            & + .description {
                margin-left: @smSpacing;
                text-align: left;
            }
        }
    }
    .description {
        .mdSansItalic
    }

    .all, .breweries, .beers {
        text-align: center;
        padding: @smSpacing;

        @media @mdScreen {
            display: flex;
            align-items: center;
        }
    }
}
.mainContent {
    .flex-flow(row wrap);
    /*padding: @mdSpacing;*/
    background-color: white;

    .beer {
        display: inline-block;
        text-align: center;
        padding: @smSpacing;
        width: 100%;

        @media @smScreen {
            width: 50%;
        }

        @media @lgScreen {
            width: 33%;
            margin-bottom: @lgSpacing;
        }

        .image-bg {
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding-bottom: 30%;
            min-height: 150px;
            box-shadow: inset 0 0 24px rgba(0,0,0,.5);

            @media @mdScreen {
                min-height: 200px;
            }

            .quantity {
                position: absolute;
                left: @smSpacing;
                bottom: -24px;
                border-radius: 50%;
                background-color: @orange;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                .mdSansItalic;
            }
            .increase, .decrease {
                display: none;
            }
        }
        .content {
            padding: @smSpacing;
            border-top: 10px solid @lt-grey;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .mainText {
                flex-direction: column;
                justify-content: center;
                flex-grow: 1;
                padding: @smSpacing;

                .breweryName {
                    .mdItalic;
                }
                .beerName {
                    .lgTitle;
                    margin: @smSpacing/2 0px;
                }
                .beerStyle {
                    .smCaps;
                }
            }
            .beerDetails {
                flex-grow: 0;
                width: 50%;
                margin: auto;
                margin-top: @mdSpacing;
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: space-around;
                .labelAnswer;
            }
        }
    }
    &.results {
        .beerName {
            .mdTitle;
        }
        .breweryName {
            .smItalic;
        }
        .result {
            padding: @smSpacing;
            border-bottom: 2px solid @lt-grey;

            &:last-child {
                border: none;
            }
        }
    }
    &.mainBeer {
        padding: 0px;

        .beer {
            width: 100%;
            /*max-width: 800px;*/
            /*margin: auto;*/
            padding: 0px;

            .image-bg {
                @media @lgScreen {
                    padding-bottom: 300px;
                }
                .increase, .decrease {
                    position: absolute;
                    bottom: -24px;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    .labelAnswer;
                    .white;
                }
                .decrease {
                    right: @smSpacing*4;
                    background-color: @yellow
                }
                .increase {
                    right: @smSpacing;
                    background-color: @dk-grey;
                }
            }
        }
        .quantity {
            background-color: @orange;
            padding: @smSpacing;
            .white;
        }
        .description {
            text-align: justify;
            line-height: @mdText*1.5;
            margin: @mdSpacing 0px;
        }
    }
}
