.inventory {
    .flex-flow(row wrap);

    .beer {
        text-align: center;
        padding: 16px;
        width: 50%;

        .image-bg {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 150px;
        }
    }
}
