@import 'flexbox';
@import 'normalize';
@import 'scaffolding';
@import 'inventory';
@import 'variables';
@import 'styles';

.frame {
	position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    border: 20px solid #49587B;
}