Inventory

<div class="flex inventory">
    <div class="beer" ng-repeat="beer in inventory">
        <a ui-sref="beer({ beerId: beer.id })">
            <div class="image-bg" ng-style="{ 'background-image': 'url(' + beer.labels.medium + ')'}"></div>
            <p>{{beer.breweries[0].name}}</p>
            <p>{{beer.name}}</p>
            <p>{{beer.style.shortName}}</p>
            <div class="flex">
                <div>IBU {{beer.ibu}}</div>
                <div>ABV {{beer.abv}}</div>
            </div>
        </a>
    </div>
</div>
